  <%# Settings page %>

<div class="container mt-3 d-flex justify-content-evenly">
  <%= render 'relations/index', relations: @relations, contacts_without_relation: @contacts_without_relation %>

  <div class='mt-3 w-25 d-flex flex-column align-items-center'>
    <h1 class='title'>Your account<%= ", #{current_user.first_name}" if current_user.first_name.present? %></h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs mt-5">
        <%= f.input :email, required: true, autofocus: true, input_html: { class: 'front-input'}, label_html: { class: 'font-label' } %>
        <%= f.input :first_name,
                    input_html: { class: 'front-input', autocomplete: "first_name"}, label_html: { class: 'font-label' } %>
        <%= f.input :last_name,
                    input_html: { class: 'front-input', autocomplete: "last_name"}, label_html: { class: 'font-label' } %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { class: 'front-input', autocomplete: "new-password" }, label_html: { class: 'font-label' } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { class: 'front-input', autocomplete: "new-password" }, label_html: { class: 'font-label' } %>
        <div class='outline p-3 d-flex flex-column align-items-center'>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm any changes",
                      required: true,
                      input_html: { class: 'front-input', autocomplete: "current-password" }, label_html: { class: 'font-label' } %>
          <div class="form-actions">
            <%= button_tag(type: 'submit', class: 'btn btn-grey') do %>
              <i class="fa-solid fa-check"></i> Update
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </div>

  <div class='mt-3 w-25'>
    <h1 class='title'>Cancel my account</h1>
    <div class="mt-5 d-flex flex-column align-items-center">
      Unhappy?
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
        method: :delete, class: 'btn btn-danger mt-4' %>
    </div>
  </div>
</div>
