<div class="container mt-3">
  <h1>All your relation types (<%= relations.size %>)</h1>
  <%= link_to '➕ Add new relation', new_relation_path %>

  <ul>
    <% relations.each do |relation| %>
      <li>
        <%= relation.relation_type %>
        <%= link_to '🎨 Edit', edit_relation_path(relation) %>
        <%= link_to '💣 Delete', relation_path(relation), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to permanently delete #{relation.relation_type} ? It will also be deleted from the contact records." }  %>
      </li>
    <% end %>
  </ul>
</div>
