<%# ! Modals %>
  <div class="modal fade" id="editModal" tabindex="+1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">This is my CV !</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>And no one can edit my life 😉</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Sorry !</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="+1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">This is my CV !</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>So please do not delete me 😨</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-grey" data-bs-dismiss="modal">Sorry !</button>
        </div>
      </div>
    </div>
  </div>

<div class="container mt-3 mb-3 d-flex flex-column align-items-center position-relative">
  <%# Bouton mobile %>
    <%= link_to raw('<i class="fa-solid fa-chevron-left"></i>'), (request.referer || contacts_path),
      class:'d-md-none btn btn-grey-square me-auto sticky z-3', rel: 'prefetch' %>
  <%# Bouton desktop %>
    <%= link_to raw('<i class="fa-solid fa-chevron-left"></i> Back'), (request.referer || contacts_path),
      class:'d-none d-md-flex btn btn-grey sticky z-3 me-auto d-flex align-items-baseline pt-2 mt-1 gap-2', rel: 'prefetch' %>

  <div class='position-absolute d-flex gap-3 align-items-center justify-content-center'>
    <h1 class='title'>Flavien LERAY</h1>
    <div class="dropdown">
      <button type="button" class="dropdown-toggle btn btn-grey-square" data-bs-toggle="dropdown" aria-expanded="false"></button>
      <ul class="dropdown-menu menu-radius">
        <button type="button" class="dropdown-item choice-menu no-underline" data-bs-toggle="modal" data-bs-target="#editModal">
          🎨 Edit
        </button>
        <button type="button" class="dropdown-item choice-menu no-underline" data-bs-toggle="modal" data-bs-target="#deleteModal">
          💣 Delete
        </button>
      </ul>
    </div>
  </div>

  <%# Mobile display : %>
    <div class="d-md-none">
      <div class="mt-5">
        <%= image_tag("CV.jpg", gravity: :face, height: 400, width: 400, crop: :fill, class: "img-fluid", style: 'border-radius: 15px;',  alt: "contact picture") %>

        <div class="infos mt-4">
          <div data-controller="clipboard">
            <p class='font-label mt-1 mb-0'>Phone number :</p>
            <div class='d-flex align-items-baseline gap-3'>
              <p data-clipboard-target="source" class='text background'>(+33) 06 68 25 13 26</p>
              <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
            </div>
          </div>

          <div data-controller="clipboard">
            <p class='font-label mt-1 mb-0'>Address :</p>
            <div class='d-flex align-items-baseline gap-3'>
              <p data-clipboard-target="source" class='text background'>14 rue Maurice Boyau, 91220, <br>Bretigny-sur-Orge</p>
              <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
            </div>
          </div>

          <div data-controller="clipboard">
            <p class='font-label mt-1 mb-0'>Date of birth :</p>
            <div class='d-flex align-items-baseline gap-3'>
              <p data-clipboard-target="source" class='text background'>19 juin 1997 (26 ans)</p>
              <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
            </div>
          </div>

          <div>
            <p class='font-label mt-1 mb-0'>Relationship :</p>
            <div class='d-flex align-items-baseline gap-3 mt-1'>
              <ul>
                <li class='text background'>👔 Professionel</li>
              </ul>
            </div>
          </div>

          <div data-controller="clipboard" class='d-flex flex-column mt-1'>
            <p class='font-label mb-0'>Personal notes :</p>
            <div class='d-flex flex-column gap-3 mt-1'>
              <p data-controller="read-more" data-action="read_more#connect" data-read-more-target="text" data-clipboard-target="source" class="add-read-more show-less-content text background">
              Avec succès, j'ai élargi mes compétences informatiques vers la programmation web, illustrant ma passion pour la tech.
              <br>Mon atout majeur réside dans ma personnalité dynamique et collaborative. Convaincu que mon enthousiasme, ma rapidité d'adaptation et ma propension naturelle à encourager un environnement positif seront des atouts précieux pour tout projet et équipe.
              </p>
              <button data-action="clipboard#copy" data-clipboard-target="notice" class='btn btn-grey d-flex align-items-center gap-2 align-self-center p-2'>
                <p class='mb-0'>Copy</p>
                <i class="fa-regular fa-clipboard"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%# End of mobile display %>


  <%# Desktop display : %>
    <div class="<%= 'gap-4 d-none d-md-flex'%>">
      <div class="image mt-5">
        <%= image_tag("CV.jpg", gravity: :face, height: 400, width: 400, crop: :fill, style: 'border-radius: 15px;',  alt: "contact picture") %>
      </div>

      <div class="infos mt-5">
        <div data-controller="clipboard" class='d-none d-md-flex align-items-baseline mt-3 gap-3'>
          <p class='font-label'>Phone number :</p>
          <p data-clipboard-target="source" class='text background'>(+33) 06 68 25 13 26</p>
          <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
        </div>

        <div data-controller="clipboard" class='d-none d-md-flex align-items-baseline mt-3 gap-3'>
          <p class='font-label'>Address :</p>
          <p data-clipboard-target="source" class='text background'>14 rue Maurice Boyau, 91220, Bretigny-sur-Orge</p>
          <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
        </div>

        <div data-controller="clipboard" class='d-none d-md-flex align-items-baseline mt-3 gap-3'>
          <p class='font-label'>Date of birth :</p>
          <p data-clipboard-target="source" class='text background'>19 juin 1997 (26 ans)</p>
          <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
          <p class='font-label'>Relationship :</p>
          <ul>
            <li class='text background'>👔 Professionel</li>
          </ul>
        </div>

        <div data-controller="clipboard" class='d-none d-md-flex flex-column mt-3'>
          <p class='font-label'>Personal notes :</p>
          <p data-controller="read-more" data-action="read_more#connect" data-read-more-target="text" data-clipboard-target="source" class="add-read-more show-less-content text background">
          Avec succès, j'ai élargi mes compétences informatiques vers la programmation web, illustrant ma passion pour la tech.
          <br>Mon atout majeur réside dans ma personnalité dynamique et collaborative. Convaincu que mon enthousiasme, ma rapidité d'adaptation et ma propension naturelle à encourager un environnement positif seront des atouts précieux pour tout projet et équipe.
          </p>
          <button data-action="clipboard#copy" data-clipboard-target="notice" class='btn btn-grey d-flex align-items-center gap-2 align-self-center p-2'>
            <p class='mb-0'>Copy</p>
            <i class="fa-regular fa-clipboard"></i>
          </button>
        </div>
      </div>
    </div>
  <%# End of desktop display %>


  <%# AOS %>
    <h1>More colors belooooooow (animation à faire)</h1>
    <div data-aos="flip-left" data-aos-easing= "ease-in" data-aos-anchor-placement="top-bottom" data-aos-duration = "500" class="d-flex flex-column align-items-center w-100 mt-4">
      <h1>DIPLÔMES ET FORMATIONS</h1>
      <div data-aos="zoom-in-up" data-aos-anchor-placement="top-bottom" data-aos-duration = "500" class="d-flex flex-column align-items-center w-75 mt-4">
        <div class="d-md-flex w-100 justify-content-evenly gap-5 mt-3">
          <div class="card color-card yellow mb-3">
            <div class="card-header card-title h3 text-center">Concepteur - Développeur d’Applications Web</div>
            <div class="card-body">
              <h4 class="card-title text-center fw-bold">Le Wagon</h4>
              <p class="card-title">Évry-Courcouronnes - du 09/2023 au 01/2024</p>
              <div class="d-flex flex-column gap-1 mt-3">
                <h5 class="handlee">10 semaines à temps plein d'apprentissage intensif du code.</h5>
                <h5 class="handlee">2 projets Saas effectué en équipe de 4</h5>
                <h5 class="handlee">Certification RNCP niveau 6 (RNCP35653)</h5>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in-left" data-aos-anchor-placement="top-bottom" data-aos-duration = "500" data-aos-delay= "200">
            <div class="card color-card yellow mb-3">
              <div class="card-header card-title h3 text-center">BTS Systèmes Informatiques aux Organisations</div>
              <div class="card-body">
                <h4 class="card-title text-center fw-bold">Pole Formation 58-89</h4>
                <p class="card-title">Auxerre - du 09/2016 au 06/2018</p>
                <div class="d-flex flex-column gap-1 mt-3">
                  <h5 class="handlee">En alternance avec Zodiac Data Systems.</h5>
                  <h5 class="handlee">Apprentissage des distributions Linux, protocoles réseaux, la mise en place de serveurs, matériel CISCO, schéma et tableau réseaux, virtualisation</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="flip-right" data-aos-easing= "ease-in" data-aos-anchor-placement="top-bottom" data-aos-duration = "500" class="d-flex flex-column align-items-center w-100 mt-4">
      <h1 class='text-center'>EXPÉRIENCES PROFESSIONNELLES</h1>
      <div class="d-md-flex w-100 justify-content-evenly gap-5 mt-3">
        <div data-aos="fade-up-right" data-aos-anchor-placement="top-bottom" data-aos-duration = "500" data-aos-delay= "200">
          <div class="card color-card green mb-3">
            <div class="card-header card-title h3 text-center">Administrateur systèmes et réseaux</div>
            <div class="card-body">
              <h4 class="card-title text-center fw-bold">Silvera</h4>
              <p class="card-title">Parix 16ème - du 03/2022 au 07/2022</p>
              <div class="d-flex flex-column gap-1 mt-3">
                <h5 class="handlee">3 dans l'équipe informatique (Le responsable du service, une alternante et moi-même), nous gérions 200 salariés et avons travaillés sur 1 projet.</h5>
                <h5 class="handlee">J'ai été backup lors des absences de mon responsable et ai pu le décharger de l'apprentissage de l'alternante.</h5>
              </div>
            </div>
          </div>
        </div>
        <div data-aos="fade-up-left" data-aos-anchor-placement="top-bottom" data-aos-duration = "500" data-aos-delay= "200">
          <div class="card color-card green mb-3">
            <div class="card-header card-title h3 text-center">Administrateur systèmes et réseaux junior</div>
            <div class="card-body">
              <h4 class="card-title text-center fw-bold">Saretec</h4>
              <p class="card-title">Créteil - du 10/2018 au 03/2022</p>
              <div class="d-flex flex-column gap-1 mt-3">
                <h5 class="handlee">1500 collaborateurs, permettant d'améliorer plusieurs qualités et compétences transversales.</h5>
                <h5 class="handlee">Participation à de nombreux projets de déploiement/renouvellement en parallèle du support.</h5>
                <h5 class="handlee">Souvent 2 dans l'équipe, j'ai été confronté avec mon collègue à des charges de travail intensifs résolues avec succès.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="flip-up" data-aos-easing= "ease-in" data-aos-anchor-placement="top-bottom" data-aos-duration = "500" class="d-flex flex-column align-items-center w-100 mt-4">
      <h1>COMPÉTENCES & ATOUTS</h1>
      <div class="d-md-flex w-75 justify-content-evenly gap-5 mt-3">
        <div data-aos="slide-right" data-aos-anchor-placement="top-bottom" data-aos-duration = "500">
          <div class="card color-card l-pink mb-3">
            <div class="card-header card-title h3 text-center">COMPÉTENCES</div>
            <div class="card-body">
              <div class="d-flex flex-column gap-1 mt-3">
                <h5 class="handlee">Ruby on rails</h5>
                <h5 class="handlee">SaaS</h5>
                <h5 class="handlee">Figma</h5>
                <h5 class="handlee">Bootstrap</h5>
                <h5 class="handlee">PostgreSQL</h5>
                <h5 class="handlee">git</h5>
                <h5 class="handlee">Github</h5>
                <h5 class="handlee">Heroku</h5>
                <h5 class="handlee">Stimulus</h5>
                <h5 class="handlee">Javascript ES6</h5>
                <h5 class="handlee">HTML 5</h5>
                <h5 class="handlee">CSS 3</h5>
              </div>
            </div>
          </div>
        </div>
        <div data-aos="slide-left" data-aos-anchor-placement="top-bottom" data-aos-duration = "500">
          <div class="card color-card d-pink mb-3">
            <div class="card-header card-title h3 text-center">ATOUTS</div>
            <div class="card-body">
              <div class="d-flex flex-column gap-1 mt-3">
                <h5 class="handlee">Collaboration et travail en équipe</h5>
                <h5 class="handlee">Communication ouverte et constructive</h5>
                <h5 class="handlee">Curiosité, apprentissage continu</h5>
                <h5 class="handlee">Proactif et persévérant</h5>
                <h5 class="handlee">Capacité d'adaptation</h5>
                <h5 class="handlee">Prise de recul</h5>
                <h5 class="handlee">Sens de la conception</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="flip-down" data-aos-easing= "ease-in" data-aos-anchor-placement="top-center" data-aos-duration = "500" class="d-flex flex-column align-items-center w-100 mt-4 mb-5">
      <h1>INFORMATIONS UTILES</h1>
      <div class="d-md-flex w-100 justify-content-evenly gap-5 mt-3">
        <div>
          <div data-aos="fade-down-right" data-aos-anchor-placement="bottom-bottom" data-aos-duration = "500" data-aos-delay= "200">
            <div class="card color-card pink mb-3">
              <div class="card-header card-title h3 text-center">LANGUES</div>
              <div class="card-body">
                <div class="d-flex flex-column gap-1 mt-3">
                  <h5 class="handlee">Français (natale)</h5>
                  <h5 class="handlee">Anglais</h5>
                </div>
              </div>
            </div>
          </div>
          <div data-aos="fade-up-right" data-aos-anchor-placement="bottom-bottom" data-aos-duration = "500" data-aos-delay= "200">
            <div class="card color-card orange mb-3">
              <div class="card-header card-title h3 text-center">RÉSEAUX SOCIAUX</div>
              <div class="card-body">
                <div class="d-flex flex-column gap-1 mt-3">
                  <h5 class="handlee"><i class="fa-brands fa-github"></i>  @Flavox</h5>
                  <h5 class="handlee"><i class="fa-brands fa-linkedin"></i>  @flavien-leray</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-aos="slide-up" data-aos-anchor-placement="top-center" data-aos-duration = "500" data-aos-delay= "200">
          <div class="card color-card l-gray mb-3">
            <div class="card-header card-title h3 text-center">RÉFÉRENCES</div>
            <div class="card-body">
              <h4 class="card-title text-center fw-bold">Monsieur Tung DINH</h4>
              <div class="d-flex flex-column gap-1 mt-3">
                <h5 class="handlee">Responsable service informatique, Silvera</h5>
                <h5 class="handlee">01 53 65 78 64</h5>
                <h5 class="handlee">t.dinh@silvera.fr</h5>
              </div>
            </div>
          </div>
        </div>
        <div data-aos="zoom-out-left" data-aos-anchor-placement="bottom-bottom" data-aos-duration = "500" data-aos-delay= "200">
          <div class="card color-card l-purple mb-3">
            <div class="card-header card-title h3 text-center">CENTRES D'INTÉRÊT</div>
            <div class="card-body">
              <div class="d-flex flex-column gap-1 mt-3">
                <h5 class="handlee">Milieu associatif</h5>
                <h5 class="handlee">Expérience itinérante</h5>
                <h5 class="handlee">Informatique</h5>
                <h5 class="handlee">Cuisine traditionnel</h5>
                <div class="d-flex gap-3">
                  <h5 class="handlee">Jeux</h5>
                  <p class="handlee">Jeux de rôles, jeux de société, jeux-vidéos, billard, pétanque, bowling</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
