<div class="container mt-3 d-flex justify-content-center">
  <%= simple_form_for @contact, html: { class: 'd-flex flex-column mt-3 gap-3' } do |f| %>
    <div class='d-flex gap-3'>
      <%= f.input :first_name, input_html: { class: 'front-input'}, label_html: { class: 'font-label' } %>
      <%= f.input :last_name, input_html: { class: 'front-input'}, label_html: { class: 'font-label' } %>
    </div>
    <%= f.input :photo, as: :file, input_html: { class: 'front-input'}, label_html: { class: 'font-label' } %>
    <div class='d-flex gap-3'>
      <%= f.input :phone_number, input_html: { class: 'front-input'}, label_html: { class: 'font-label' } %>
      <%= f.input :address, input_html: { class: 'front-input'}, label_html: { class: 'font-label' } %>
    </div>
    <div class='d-flex gap-3'>
      <%= f.input :birthday, as: :string, input_html: { data: { controller: 'datepicker' }, class: 'front-input'}, label_html: { class: 'font-label' } %>
      <%= f.association :relations, collection: current_user.relations, label_method: :relation_type, prompt: "Select relation",
                                    multiple: true, input_html: { class: 'front-input'}, label_html: { class: 'font-label' } %>
    </div>
    <%= f.input :note, input_html: { class: 'front-input'}, label_html: { class: 'font-label' } %>
    <div class="form-actions d-flex justify-content-center">
      <%= button_tag(type: 'submit', class: 'btn btn-grey') do %>
        <i class="fa-solid fa-check"></i> Okay
      <% end %>
    </div>
  <% end %>
