<div class="container mt-3">
  <%= simple_form_for @contact do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :photo, as: :file %>
    <%= f.input :phone_number %>
    <%= f.input :address %>
    <%= f.input :birthday %>
    <%= f.association :relations, collection: current_user.relations, label_method: :relation_type, prompt: "Select relation", multiple: true %>
    <%= f.input :note %>
    <div>
      <%= f.submit "OKay" %>
    </div>
  <% end %>
</div>
