<div class="container mt-3">
  <div class="position-relative">
    <h1 class="position-absolute top-0 start-50 translate-middle-x mt-2 title">My contacts book (<%= @contacts.count %> contacts)</h1>
    <br>
    <div class="mt-4">
      <%= link_to raw('<i class="fa-solid fa-user-plus" style="display: flex;flex-direction: column;"></i> Add new contact'), new_contact_path, class: "btn btn-grey", style: "margin-left: 10px;" %>
      <%= form_with url: contacts_path, method: :get, class: "d-flex gap-1 mb-3" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "",
          placeholder: "Search a contact"
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-grey" %>
      <% end %>
      <br>
      <%= render 'list', contacts: @contacts %>
    </div>
  </div>
</div>
