<div class="container mt-3 d-flex flex-column align-items-center">
  <div class='position-relative d-flex justify-content-evenly w-100 gap-3'>
    <%= link_to raw('<i class="fa-solid fa-chevron-left"></i> Back'), (request.referer || contacts_path), class:'btn btn-grey me-auto d-flex align-items-center gap-2', rel: 'prefetch' %>
    <div class="card-text position-absolute top-0 start-50 translate-middle-x d-flex mt-2 gap-3">
      <h1 class='title'><%= @contact.first_name %> <%= @contact.last_name %></h1>
      <div class="dropdown">
        <button type="button" class="btn btn-grey-square dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu menu-radius">
          <li><%= link_to '🎨 Edit', edit_contact_path(@contact), class: "dropdown-item choice-menu link" %></li>
          <li><%= link_to '💣 Delete', contact_path(@contact), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to permanently delete #{@contact.first_name} ?" }, class: "dropdown-item choice-menu link" %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="<%= 'd-flex gap-4' if @contact.photo.attached? %>">
    <div class="image mt-5">
      <% if @contact.photo.attached? %>
        <%= cl_image_tag @contact.photo.key, gravity: :face, height: 400, width: 400, crop: :fill, style: 'border-radius: 15px;' %>
      <% end %>
    </div>

    <div class="infos mt-5">
      <div data-controller="clipboard" class='d-flex align-items-baseline mt-3 gap-3'>
        <p class='font-label'>Phone number :</p>
        <p data-clipboard-target="source" class='text'><%= @contact.phone_number %></p>
        <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
      </div>

      <div data-controller="clipboard" class='d-flex align-items-baseline mt-3 gap-3'>
        <p class='font-label'>Address :</p>
        <%= simple_format(@contact.address, data: { clipboard_target: "source" }, class: 'text') %>
        <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
      </div>

      <div data-controller="clipboard" class='d-flex align-items-baseline mt-3 gap-3'>
        <p class='font-label'>Date of birth :</p>
        <p data-clipboard-target="source" class='text'><%= @contact.birthday.strftime('%b %e, %Y') if @contact.birthday%></p>
        <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
        <p class='font-label'>Relationship :</p>
        <ul>
          <% @contact.relations.each do |relation| %>
            <li class='text'><%= relation.relation_type %></li>
          <% end %>
        </ul>
      </div>

      <div data-controller="clipboard" class='d-flex flex-column mt-3'>
        <p class='font-label'>Personal notes :</p>
        <div data-controller="read-more" class="add-read-more show-less-content" data-action="read_more#connect">
          <%= simple_format(@contact.note, data: { read_more_target: 'text', clipboard_target: "source" }, class: 'add-read-more text') %>
        </div>
        <button data-action="clipboard#copy" data-clipboard-target='notice' class='btn btn-grey d-flex align-items-center gap-2 align-self-center p-2'>
          <p class='mb-0'>Copy</p>
          <i class="fa-regular fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
</div>

          <%# <%= simple_format(@contact.note, data: { read_more_target: 'text', clipboard_target: "source" }, class: 'add-read-more text') %> %>
