<div class="container mt-3 mb-3 d-flex flex-column align-items-center position-relative">
    <%# Bouton mobile %>
      <%= link_to raw('<i class="fa-solid fa-chevron-left"></i>'), (request.referer || contacts_path),
        class:'d-md-none btn btn-grey-square me-auto sticky', rel: 'prefetch' %>
    <%# Bouton desktop %>
      <%= link_to raw('<i class="fa-solid fa-chevron-left"></i> Back'), (request.referer || contacts_path),
        class:'d-none d-md-flex btn btn-grey sticky me-auto d-flex align-items-baseline pt-2 mt-1 gap-2', rel: 'prefetch' %>

  <div class='position-absolute d-flex gap-3 align-items-center justify-content-center'>
    <h1 class='title'><%= @contact.first_name %> <%= @contact.last_name %></h1>
    <div class="dropdown">
      <button type="button" class="dropdown-toggle btn btn-grey-square" data-bs-toggle="dropdown" aria-expanded="false"></button>
      <ul class="dropdown-menu menu-radius">
        <li><%= link_to '🎨 Edit', edit_contact_path(@contact), class: "dropdown-item choice-menu no-underline" %></li>
        <li><%= link_to '💣 Delete', contact_path(@contact), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to permanently delete #{@contact.first_name} ?" }, class: "dropdown-item choice-menu no-underline" %></li>
      </ul>
    </div>
  </div>

  <%# Mobile display : %>
    <div class="d-md-none">
      <div class="<%= 'mt-5' if @contact.photo.attached? %>">
        <% if @contact.photo.attached? %>
          <%= cl_image_tag @contact.photo.key, gravity: :face, height: 400, width: 400, crop: :fill, class: "img-fluid", style: 'border-radius: 15px;' %>
        <% end %>

        <div class="infos <%= @contact.photo.attached? ? "mt-4" : "mt-5" %>">
          <div data-controller="clipboard">
            <p class='font-label mt-1 mb-0'>Phone number :</p>
            <div class='d-flex align-items-baseline gap-3'>
              <p data-clipboard-target="source" class='text'><%= @contact.phone_number %></p>
              <% if @contact.phone_number.present? %>
                <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
              <% end %>
            </div>
          </div>

          <div data-controller="clipboard">
            <p class='font-label mt-1 mb-0'>Address :</p>
            <div class='d-flex align-items-baseline gap-3'>
              <%= simple_format(@contact.address, data: { clipboard_target: "source" }, class: 'text') %>
              <% if @contact.address.present? %>
                <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
              <% end %>
            </div>
          </div>

          <div data-controller="clipboard">
            <p class='font-label mt-1 mb-0'>Date of birth :</p>
            <div class='d-flex align-items-baseline gap-3'>
              <p data-clipboard-target="source" class='text'><%= @contact.birthday.strftime('%b %e, %Y') if @contact.birthday%></p>
              <% if @contact.birthday.present? %>
                <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
              <% end %>
            </div>
          </div>

          <div>
            <p class='font-label mt-1 mb-0'>Relationship :</p>
            <div class='d-flex align-items-baseline gap-3 mt-1'>
              <ul class='text'>
                <% @contact.relations.each do |relation| %>
                  <li><%= relation.relation_type %></li>
                <% end %>
              </ul>
            </div>
          </div>

          <div data-controller="clipboard" class='d-flex flex-column mt-1'>
            <p class='font-label mb-0'>Personal notes :</p>
            <div class='d-flex flex-column gap-3 mt-1'>
              <%= simple_format(@contact.note, data: { controller: 'read-more', action: 'read_more#connect', read_more_target: 'text', clipboard_target: "source" }, class: 'add-read-more show-less-content text mb-0') %>
              <% if @contact.note.present? %>
                <button data-action="clipboard#copy" data-clipboard-target="notice" class='btn btn-grey d-flex align-items-center gap-2 align-self-center p-2'>
                <p class='mb-0'>Copy</p>
                <i class="fa-regular fa-clipboard"></i>
              <% end %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%# End of mobile display %>

  <%# Desktop display : %>
    <div class="<%= 'gap-4 d-none d-md-flex' if @contact.photo.attached? %>">
      <div class="image mt-5">
        <% if @contact.photo.attached? %>
          <%= cl_image_tag @contact.photo.key, gravity: :face, height: 400, width: 400, crop: :fill, style: 'border-radius: 15px;' %>
        <% end %>
      </div>

      <div class="infos mt-5">
        <div data-controller="clipboard" class='d-none d-md-flex align-items-baseline mt-3 gap-3'>
          <p class='font-label'>Phone number :</p>
          <p data-clipboard-target="source" class='text'><%= @contact.phone_number %></p>
          <% if @contact.phone_number.present? %>
            <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
          <% end %>
        </div>

        <div data-controller="clipboard" class='d-none d-md-flex align-items-baseline mt-3 gap-3'>
          <p class='font-label'>Address :</p>
          <%= simple_format(@contact.address, data: { clipboard_target: "source" }, class: 'text') %>
          <% if @contact.address.present? %>
            <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
          <% end %>
        </div>

        <div data-controller="clipboard" class='d-none d-md-flex align-items-baseline mt-3 gap-3'>
          <p class='font-label'>Date of birth :</p>
          <p data-clipboard-target="source" class='text'><%= @contact.birthday.strftime('%b %e, %Y') if @contact.birthday%></p>
          <% if @contact.birthday.present? %>
            <button data-action="clipboard#copy" data-clipboard-target="button" class='btn btn-grey-square'><i class="fa-regular fa-clipboard"></i></button>
          <% end %>
          <p class='font-label'>Relationship :</p>
          <ul class='text'>
            <% @contact.relations.each do |relation| %>
              <li><%= relation.relation_type %></li>
            <% end %>
          </ul>
        </div>

        <div data-controller="clipboard" class='d-none d-md-flex flex-column mt-3'>
          <p class='font-label'>Personal notes :</p>
          <%= simple_format(@contact.note, data: { controller: 'read-more', action: 'read_more#connect', read_more_target: 'text', clipboard_target: "source" }, class: 'add-read-more show-less-content text') %>
          <% if @contact.note.present? %>
            <button data-action="clipboard#copy" data-clipboard-target="notice" class='btn btn-grey d-flex align-items-center gap-2 align-self-center p-2'>
            <p class='mb-0'>Copy</p>
            <i class="fa-regular fa-clipboard"></i>
          <% end %>
          </button>
        </div>
      </div>
    </div>
  <%# End of desktop display %>
</div>
